<!doctype html>

<html lang="ja-jp">
<head>
  <meta charset="utf-8">
  <title>Corona Mining</title>
  <meta name="description" content="Clicker Game Test">
  <meta name="author" content="Omar Herrera">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div id="main-screen">
    <table>
      <tr>
        <td colspan="4" rowspan="3" onclick="commonclick()"><img id="coronaicon"src="{{ url_for('static', filename='images/mainicon.png') }}" ></td>
        <td>感染経路</th>
        <td>パワーアップ</th>
      </tr>
      <tr>
        <td><input type="button" value="コウモリ"></td>
        <td>コウモリソース</td>
      </tr>
      <tr>
        <td>人間</td>
        <td>花粉症</td>
      </tr>
      <tr>
        <td colspan="2">感染者<br></td>
        <td colspan="2"><input id="counter" type="text" value="" readonly></td>
        <td>自動車</td>
        <td>電気自動車</td>
      </tr>
      <tr>
        <td colspan="4">リセット<br></td>
        <td>飛行機</td>
        <td>大西洋横断飛行</td>
      </tr>
    </table>
  </div>
  <script src="{{ url_for('static', filename='js/scripts.js') }}" charset="utf-8"></script>
</body>
</html>